@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Photos/brock-wegner-7yONARoUsbY-unsplash.jpg");
  background-size: cover;

  background-position-x: 80%;
  min-height: 100vh;
  background-repeat: no-repeat;
  position: relative;
  animation: opacityChange 300ms ease;
}

a {
  text-decoration: none;
  color: #f2f4f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 0.2em;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);

  color: #f2f4f3;
}

.NavItems {
  padding: 0.5em 0.3em;
}

#NavHead {
  font-size: 1.5rem;
}

#ShopBtn {
  padding: 0.3em 0.6em;
  font-size: 1rem;
  border: 0.2em solid transparent;
  background: transparent;
  border-radius: 1em;
  color: #f2f4f3;
  font-weight: 700;
  cursor: pointer;
}

#ShopBtn::after {
  content: "";
  width: 0px;
  height: 0.3px;
  display: block;
  background-color: white;
  transition: 300ms;
}

#ShopBtn:hover::after {
  width: 100%;
}

#RightNav {
  display: flex;
  align-items: flex-start;
}

.RightNavItem {
  margin: 0 0.3em;
  display: block;
}

.MainPageText {
  padding-top: 6em;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color: rgb(146, 144, 144);
  animation: opacityChange 300ms ease;
}

.MainPageHead {
  width: 91%;
  margin: 0 auto;
  padding: 0.4em;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  color: #f2f4f3;
  font-family: "Nunito", monospace;
  border-radius: 0.6em 0 0.6em 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.MainPageBtn {
  padding: 0.4em;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5em;
  border-radius: 0.4em;
  color: rgba(0, 0, 0, 0.5);
  border: 0.2em solid rgba(0, 0, 0, 0.5);

  transition: color 150ms ease-in-out, border 150ms ease-in-out;
  cursor: pointer;
}

.ShopContainer {
  padding-top: 6em;
  animation: opacityChange 300ms ease;
}
.CategoryContainer {
  margin: 2em auto 2em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  width: 90%;
}

.CategoryItem {
  width: 85%;
  margin-top: 1em;
  text-align: center;
  position: relative;
}

.CategoryItem:nth-child(1) {
  grid-column: 1 / span 4;
}
.CategoryItem:nth-child(2) {
  grid-column: 5 / span 8;
}
.CategoryItem:nth-child(3) {
  grid-column: 3 / span 4;
  margin-bottom: 1em;
}
.CategoryPhoto {
  width: 100%;
  border-radius: 0.5em;
  filter: brightness(50%);
}
.IndCategoryHead {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 10%;
  right: 10%;
  color: #f2f4f3;
  font-size: 1rem;
}

@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MainPageBtn:hover {
  color: black;
  border: 0.2em solid black;
}
@media (min-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Photos/jernej-graj-qFYhUS2DGc4-unsplash.jpg");
    background-position-x: 40%;
  }
  #NavHead {
    font-size: 2.5rem;
  }

  nav {
    justify-content: space-around;
    padding: 0.6em;
  }
  .NavItems {
    padding: 0.5em;
  }
  #RightNav {
    width: 15%;
    justify-content: space-between;
  }
  #ShopBtn {
    font-size: 1.2rem;
  }
  .MainPageText {
    width: 100%;
    padding-top: 4em;
    margin: 0 2em 0 auto;
    text-align: right;
  }
  .MainPageHead {
    font-size: 3.5rem;
    padding: 0.2em;
    margin: 0 0.5em 0 auto;
    text-align: end;
    width: 53%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);

    transition: color 200ms ease-in-out;
    word-wrap: break-word;
  }
  .MainPageHead:hover {
    color: white;
  }
  .MainPageBtn {
    margin: 0 1.5em 0 auto;
    padding: 0.4em;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.4em;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    border: 0.2em solid rgba(0, 0, 0, 0.7);

    transition: color 150ms ease-in-out, border 150ms ease-in-out;
    cursor: pointer;
  }
  .MainPageBtn:hover {
    color: black;
    border: 0.2em solid black;
  }
  #RightNav {
    align-items: center;
  }
  .CategoryItem {
    width: 70%;
    margin: 1.5em auto;
  }
  .CategoryPhoto {
    filter: brightness(100%);
    -webkit-transition: 400ms -webkit-filter ease;
    transition: 400ms filter ease;
    -moz-transition: 400ms -moz-filter ease;
    -moz-transition: 400ms filter ease;
    -ms-transition: 400ms -ms-filter ease;
    -o-transition: 400ms -o-filter ease;
    cursor: pointer;
  }
  .CategoryPhoto:hover {
    filter: brightness(50%) blur(1.5px);
  }

  .CategoryItem:hover .IndCategoryHead {
    opacity: 1;
  }

  .IndCategoryHead:hover ~ .CategoryPhoto {
    filter: brightness(50%) blur(1.5px);
  }

  .IndCategoryHead {
    opacity: 0;
    transition: opacity 400ms ease;
    font-size: 2rem;
  }
}
